@inherits CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

<h3>HomeFeed</h3>

@if (this.ReceivedNotifications.Count > 0)
{
    <Feed HubUrl="@Constants.Hubs.HomeFeedHub"
      InitialNotifications="@this.ReceivedNotifications">
    </Feed>
}