
<div class="@ThemeConfiguration.Divisions.DefaultCss">
    <label class="@ThemeConfiguration.Labels.DefaultCss">Select Theme:</label>
    <select class="@ThemeConfiguration.Selects.DefaultCss" @onchange="OnThemeSelectionChangedAsync">
        <option value="theme1">Theme 1</option>
        <option value="theme2">Theme 2</option>
    </select>
</div>
