<div class="card" style="width:@this.Width;">
    <div class="card-header">@CardHeader</div>
    <div class="card-body">
        @CardBody
    </div>
    @if (CardFooter != null)
    {
            <div class="card-footer">
            @CardFooter
            </div>
    }
</div>