<div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Title
                </h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="OnCloseButtonClicked">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @Content
                </p>
            </div>
            @if (this.ShowFooter)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnCloseButtonClicked">@CloseButtonText</button>
                    <button type="button" class="btn btn-primary" @onclick="OnOkButtonClicked">@OkButtonText</button>
                </div>
            }
        </div>
    </div>
</div>