@using FairPlaySocial.Common.Global
<label class="@ThemeConfiguration.Labels.DefaultCss"
       @onmouseover="@( async () => await OnMouseOverAsync())"
       @onmouseout="@( () => OnMouseOut())">
    @if (MakeTextBold)
    {
        <strong>
            @ItemText
        </strong>
    }
    else
    {
        @ItemText
    }
</label>